body{
    background: #000;

}

    







.logo {
color: antiquewhite;
justify-content: space-between;
display: flex;

}

.logo img{
height: 100px;
width: 170px;

}





.explore{
text-align: center;
color: aliceblue;
 font-family: "Bona Nova SC", serif;

}

.placeholder{
display: flex;
justify-content: center;
text-align: center;
font-size: smaller;
gap: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;


}


.placeholder button{
background-color:  #DA1E1E;
width: 170px;
height:50px;
font-size: 20px;
text-align: center;
align-items: center;
font-family: "Bona Nova SC", serif;


}



.placeholder input{
display: flex;
padding:10px 80px;
margin:0px;
justify-content: center;
border-radius:5px;
color:white;
font-size: larger;

}

h2{
    color: whitesmoke;
    font-family: "Bona Nova SC", serif;

}

.gridbox {
    gap: 20px;
    padding :200px,150px;
    display:flex;
    justify-content: space-around;
}

.gridbox1{
    display: flex;
background-color: gray;
width :fit-content;
font-family: "Bona Nova SC", serif;
border-radius:5px;
}



    

@media (min-width:375px) {

    body{
        background: #000;
    

    }
    .gridbox{
        flex-wrap: wrap;
    }
    .gridbox1{
        background-color: gray;
        text-align: left;
        gap: 30px;
         padding: 20px;
        border-radius:5px;
        }
}



@media (max-width:790px){

    body{
        background: #000;
    
    }
    
}

    .logo {
    color: antiquewhite;
    justify-content: space-between;
    display: flex;
     }
    
    .logo img{
    height: 100px;
    width: 170px;
    }
    
    .sign{
        margin-right: 30px;
    }

    
    
    
    
    .explore{
    text-align: center;
    color: aliceblue;
    margin-right: 40px;
    }

    h2{
        margin-right: 50px;
    }

   
    
   .gridbox1{
    background-color: gray;
    gap: 5px;
    gap: 30px;
     border-radius:5px;
    }

    .gridbox{
/*         
        gap: 30px;
        display: grid; */
    }
    

    .placeholde a{
        text-decoration: none;
        color: black;
    }

    .placeholde{
        justify-content: center;
        display: flex;
        gap: 20px;
    }
    .placeholde input {
        width: 400px;
        height: 30px;
    }
    .placeholde button{
        background-color: #DA1E1E;
        color: black;
        height: 40px;
    }
  









